* {
    margin: 0;
    padding: 0;
}

body{
    background: black;
    text-align: center; 
    display: flex;   
    justify-content: center;
}

ul {
    list-style-type: none;
    margin-top: 150px;    
}

li {
    margin-top: 40px;
}

a {
    color: white;
    position: relative;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    width: 100%;   
}

a::before {
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    left: -25%;
    transition: 0.7s;
    transition-delay: 0.1s;    
}

a:hover::before {
    
    width: 0%;
    height: 100%;
    background: red;
    left: 100%;   
}

a::after {
    content: "";
    position: absolute;
    height: 5%;
    width: 0%;;
    bottom: 0;
    right: 0;  
    transition: 0.7s; 
    transition-delay: 0.4s;
}

a:hover::after {
    width: 100%;
    background: red;    
}

